In [3]:
f=open("sample1000.txt","w")
f.write("buddddy")
f.close()

In [4]:
import os
os.rename("sample1000.txt","demo.txt")

In [5]:
os.remove("demo.txt")

In [6]:
import os
os.mkdir("python")
for i in range(5):
    filename=" "
    f=open("sample5.txt","w")
    f.write("welcome to pyton")
    f.close()

### Tuples:

In [7]:
# tuple
t=(122,3,345,543)
print(type(t))

<class 'tuple'>

In [19]:
print(t[2])
print(t[3])
print(t[-1])

345
543
543

In [23]:
l1=list(t)
l1[2]=100
t=tuple(l1)
t

(122, 3, 100, 543)

## built-in methods:
1. count()
2. index()

In [25]:
print(t.count(122))
print(t.index(122))

1
0

In [26]:
# unpacking
t2=(12,232,4,354)
a,b,c,d=t2
print(d)

354

In [27]:
# packing 
x=10,2,30,40
print(type(x))
print(x)

<class 'tuple'>
(10, 2, 30, 40)

## sets
1. {}
2. does not allow duplicate allows
3. not orderd
4. unindexed
5. mutable

In [31]:
set1={1,2,54,2,3,3,45,62}
print(set1)

{1, 2, 3, 45, 54, 62}

In [32]:
for ele in set1:
    print(ele)

1
2
3
45
54
62

## built in functions
1. len()
2. min()
3. max()
4. set()

In [1]:
s1={23,45,65,34,66}
print(s1)
print(len(s1))
print(min(s1))
print(max(s1))

{65, 34, 66, 45, 23}
5
23
66

In [3]:
list2=[1,2,3,4,5,1,2,3]      ## removing duplicate 
set(list2)

{1, 2, 3, 4, 5}

## Built in methods:
1. add()
2. pop()
3. remove()
4. discard()
5. clear()

In [4]:
s2={10,}
print(type(s2))

<class 'set'>

In [13]:
s2.add(12)
s2.add(14)
s2.add(25)
s2.add(139)
print(s2)

{139, 12, 14, 25}

In [13]:
# union,difference,intersection,subset,super set,disjoint
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.union(b))
print(a-b)
print(b-a)
print(a.intersection(b))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [16]:
c={1,2,3,4,5,6,7,8,9,10}
print(a.issubset(c))
print(a.issubset(b))
print(c.issuperset(a))
print(c.issuperset(b))
print(a.isdisjoint(b))

True
False
True
True
False

In [23]:
a={1,2,3}
b={2,3,4}
print(a.difference(b))                  ##a-b
print(b.difference(a))                  ##b-a
print(a.symmetric_difference(b))      #a-b union b-a
print(a)
print(b)
a.symmetric_difference_update(b)
print(a)
print(b)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}
{1, 4}
{2, 3, 4}

## DICTIONARY:

 ..RULES FOR KEY
 1. keys should be unique
 2. keys should be immutable

In [32]:
dict={"name":"rahul",'emp id':66,"address":"hyd"}
print(dict)

{'name': 'rahul', 'emp id': 66, 'address': 'hyd'}

In [33]:
## extractin an element
print(dict["emp id"])

66

In [34]:
## removing
del dict['address']
print(dict)

{'name': 'rahul', 'emp id': 66}

In [35]:
## adding an entry
dict['course']="python"
print(dict)

{'name': 'rahul', 'emp id': 66, 'course': 'python'}

### BUILT-IN-METHODS
1. KEYS()
2. VALUES()
3. ITEMS()
4. GET()

In [36]:
print(dict.keys())
print(dict.values())
print(dict.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['rahul', 66, 'python'])
dict_items([('name', 'rahul'), ('emp id', 66), ('course', 'python')])

In [37]:
## adding an entry
dict['address']="hyd"
dict

{'name': 'rahul', 'emp id': 66, 'course': 'python', 'address': 'hyd'}

In [39]:
d={"fruits":"orange","college":"gitam","bus":2}
dict.update(d)                              
print(dict)                              ## adding mul values

{'name': 'rahul', 'emp id': 66, 'course': 'python', 'address': 'hyd', 'fruits': 'orange', 'college': 'gitam', 'bus': 2}

In [42]:
## removing an entry ===>pop(),pop item()
dict.pop("address")
print(dict)

{'name': 'rahul', 'emp id': 66, 'course': 'python', 'fruits': 'orange', 'college': 'gitam', 'bus': 2}

In [43]:
dict.popitem()

('bus', 2)